---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Recursos y links para recordad cuando hagamos páginas web</title>
    <meta
      name="description"
      content="Recursos y links para recordad cuando hagamos páginas web"
    />
    <meta
      name="keywords"
      content="recursos, links, web, página, página web, página web, página web, página web, página web, página web"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
